<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/imges/photo_2024-06-22_01-50-21.png" alt="avatar"  class="profile-card__avatar">

  <div class="profile-card__name">
    <strong class="h1">Пашка Юрьевич</strong>
  </div>

  </div>

<span class="subtitle">В сети !</span>
  <div class="profile-card__description">У имени Павел древнеримские корни. Оно происходит от латинского слова paulus, что означает «малый» или «небольшой». В православной традиции имя Павел стало особенно значимым благодаря апостолу Павлу, который сыграл важную роль в распространении христианства и участвовал в написании значительной части Нового Завета.</div>

<!--  <br>-->
  <div class="profile-card__tags">
    <div class="skill-tag">Ангуляр</div>
    <div class="skill-tag">Html</div>
    <div class="skill-tag">Css</div>
    <div class="skill-tag">JavaScript</div>
  </div>
<!--  <br>-->
  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>

<!--<br>-->

<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/imges/photo_2024-10-13_23-12-15.png" alt="avatar"  class="profile-card__avatar">

    <div class="profile-card__name">
      <strong class="h1">Наталья Матрюк</strong>
    </div>

  </div>

<span class="subtitle">Был(а) недавно в сети!</span>
  <div class="profile-card__description">Имя происходит от лат. natalis с значениями «родной», «рожденный» или «относящийся к рождению», «относящийся к рождеству», «рождественский». В связи с значением «рождественский», имя «Наталия» может толковаться как «рождённая в Рождество» и считаться родственным французскому имени Ноэль.</div>

<!--  <br>-->
  <div class="profile-card__tags">
    <div class="skill-tag">React</div>
    <div class="skill-tag">Html</div>
    <div class="skill-tag">Css</div>
    <div class="skill-tag">JavaScript</div>
  </div>
<!--  <br>-->
  <div class="profile-card__action-btns">
    <button class="btn">Подписаться</button>
  </div>
</div>
