@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/JetBrainsMono-Medium.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  src: url('/assets/JetBrainsMono-Bold.woff2') format('woff2');
}


@font-face {
  font-display: swap;
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/JetBrainsMono-SemiBold.woff2') format('woff2');
}
